[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blogdown = {editable = true,git = "https://github.com/blogdown/blogdown"}
werkzeug = "==0.14.1"

[dev-packages]

[requires]
python_version = "3.8"
