<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="color-scheme" content="light dark">
    {% block htmlhead %}
      <title>{% block title %}{% endblock %}</title>
      <link rel="icon" href="/snowflake.svg" sizes="any" type="image/svg+xml">
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
      <link rel="stylesheet" href="/static/style.css" type="text/css">
      <link rel="alternate"  href="/feed.atom" type="application/atom+xml" title="Feed">

      {%- for link in links %}
      <link rel="{{ link.rel }}" href="{{ link.href }}"{%
        if link.media %} media="{{ link.media }}"{% endif %} type="{{ link.type }}">
      {%- endfor -%}

    {% endblock %}

    <script src="/static/jquery-3.0.0.min.js"></script>
    <script src="/static/section-links.js"></script>
  </head>
  <body>
    <header>
      <div class="headerbox">
        <h1>{{ config.blogtitle }}</h1>
        <nav>
          <a href="/">recent</a>
          <a href="/archive">archive</a>
          <a href="/tags">tags</a>
          <a href="/misc">misc</a>
          <a href="/about/">about</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="content">
        {% block body %}{% endblock %}
      </div>
    </main>
  </body>
</html>
