<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% block htmlhead %}
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="/static/style.css" type="text/css">
      <link rel="alternate"  href="/feed.atom" type="application/atom+xml" title="Feed">
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="navigation">
          <li><a href="/">recent</a></li>
          <li><a href="/archive">archive</a></li>
          <li><a href="/tags">tags</a></li>
          <li><a href="/about/">about</a></li>
        </ul>
      </div>
      <div class="content">
        {% block body %}{% endblock %}
      </div>
      <div class="footer">

        {% if rst -%}
        <div class="flattr">
          <a href="https://flattr.com/submit/auto{{ '' -}}
                ?user_id={{ config.flattr_id -}}
                &url={{ config.canonical_url|urlencode -}}
                     {{ link_to('page', slug=ctx.slug)|urlencode -}}
                &title={{ ctx.title|urlencode -}}
                &description={{ ctx.summary|urlencode -}}
                &tags=
                  {%- for tag in builder.get_storage('tags').by_tag|sort -%}
                    {{ tag|urlencode }}{% if not loop.last %},{%- endif -%}
                  {% endfor -%}
                &category=text">
            <img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0">
          </a>
        </div>
        {%- endif %}

      </div>
  </body>
</html>
