@charset "utf-8";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-family: DejaVu Sans, Helvetica, Arial, Verdana, serif;
  color: #222;
}

div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #007700;
  text-decoration: underline;
}

header {
	background-color: #660000;
  position: fixed;
  top: 0rem;
  left: 0rem;
  height: 100%;
  width: 15rem;
}

.headerbox {
	background-color: #882222;
	padding: 1rem 2rem;
  position: relative;
  top: 5rem;
  left: 1rem;
  width: 13rem;
  border-radius: 2ex;
  box-shadow: 0 0 10px 0 #882222;
}

.headerbox a {
  color: white;
  font-weight: bold;
}

.headerbox a:hover {
  color: #bbbbbb;
}

.headerbox h1 {
  color: #bbbbbb;
  font-weight: bold;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

nav {
	text-align: left;
  margin: 0;
  padding: 0;
}

nav > a {
  margin: 0.5rem 1rem;
  padding: 0;
}

ul.tagcloud {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tagcloud > li {
  display: inline;
  margin-right: 1em;
  padding: 5px 5px 3px 5px;
  border: thin solid gray;
  border-radius: 6px;
}

main {
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 15rem;
}

div.content {
  max-width: 48em;
  margin: 1ex auto;
  line-height: 150%;
  text-align: left;
}

div.content h1.title {
  text-align: center;
}

div.content > p.date {
  margin: 2.5ex 0;
  padding: 1ex 0;
  border-top: 3px double gray;
  border-bottom: 3px double gray;
  text-align: center;
  color: gray;
}

div.entry-overview {
  border-top: thin solid gray;
  margin-bottom: 3ex;
}

div.entry-overview p {
  margin: 0;
  padding: 0;
}

div.entry-overview div.date {
  color: gray;
}

div.entry-overview div.detail div.summary {
  margin: 0;
}

div.entry-overview div.detail h1 {
  margin: 0;
  line-height: 150%;
}


ul.blog-archive {
  list-style: none;
  padding: 0;
}

ul.blog-archive > li {
  margin: 1ex 0;
}

div.footer {
  position: fixed;
  padding: 0 0 0 0;
  background: #ffaaaa;
  border-radius: 1ex;
  width: 7rem;
  left: 7rem;
  top: 18rem;
}

div.footer div.flattr {
  text-align: center;
  margin: 0.2em auto 0.2rem auto;
}

div.footer div.flattr a {
  display: block;
}

div.footer div.flattr img {
  margin: auto;
  display: block;
}

.literal-block-wrapper {
  padding: 0;
  width: 100%;
  margin: 1.8ex 0;
}

.literal-block-wrapper, .literal-block-wrapper pre {
  line-height: normal;
  font-size: 0.8rem;
  font-family: "Source Code Pro", "Consolas", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", "Courier New", "monospace";
  overflow: scroll;
}

.literal-block-wrapper .caption, .hlltable, .hll {
  margin: 0;
  padding: 0;
  width: 100%;
}

.literal-block-wrapper .caption {
  background-color: #333333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  color: white;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.hlltable {
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
}

.hlltable td.linenos, .hlltable td.code {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.hlltable td.linenos {
  color: silver;
  border-bottom-left-radius: 5px;
  margin-left: -50px;
  width: 50px;
  text-align: right;
  box-sizing: border-box;
  height: 100%;
}

.hlltable td.code {
  width: 100%;
}

.literal-block-wrapper .linenos pre,
.literal-block-wrapper .hll pre {
  padding: 10px;
  margin: 0;
}

.hll {
  color: #f8f8f2;
  background-color: #272822;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.without_caption .hll {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.hll .cp {
  color: #995599;
}

div.content tt.literal {
  background-color: #f3f3f3;
  border-radius: 4px;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

div.content div.section {
  margin: 3ex 0;
}

div.content h2 a.section-link {
  font-weight: normal;
  visibility: hidden;
  margin-left: 0.2em;
}

div.content h2:hover a.section-link {
  color: #dddddd;
  visibility: visible;
}

div.content h2:hover a.section-link:hover {
  color: red;
  background-color: #dddddd;
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
  }
  div.content tt.literal {
    background-color: #434343;
    border-radius: 4px;
  }
}

@media screen and (max-width: 55rem) {
  header {
    position: static;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    flex-wrap: wrap;
  }

  .headerbox {
    padding: 0.2rem 2rem;
    position: static;
    height: auto;
    width: auto;
    border-radius: 1ex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .headerbox > .blogtitle {
    flex-shrink: 0;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav > a {
    margin: 0.5rem 0.5rem;
  }

  main {
    margin: 2rem auto;
  }

  div.content {
    line-height: normal;
  }
}
